<?xml version="1.0"?>
<launch>
  <node pkg="rosbag" type="record" name="rosbag_record" output="screen"
	  args="record -b 4096 -o /home/orne-box/rosbag/box2/
	 /tf
	 /tf_static
         /imu_data
	 /imu_data/raw
	 /odometry/filtered
         /rfans/surestar_points
         /rfans/surestar_scan
	 /map_for_costmap
	 /move_base/global_costmap/costmap
	 /move_base/global_costmap/costmap_updates
 	 /move_base/local_costmap/costmap
 	 /move_base/local_costmap/costmap_updates
  	 /amcl_pose
         /icart_mini/cmd_vel
         /icart_mini/odom
         /icart_mini/parameter_descriptions
         /icart_mini/parameter_updates
         /scan
         /move_base/TrajectoryPlannerROS/global_plan
         /move_base/TrajectoryPlannerROS/local_plan
         /move_base/GlobalPlanner/plan
         /pose_array
         /particlecloud
         /map
         "/>
</launch>
